.create-organization {
  background-color: rgb(47, 51, 73);
  color: rgba(208, 212, 241, 0.78);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 6px;
  box-shadow: rgba(15, 20, 34, 0.1) 0px 4px 18px 0px;
  background-image: none;
  overflow: hidden;
  width: 90%;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

  
  .create-organization h3 {
    margin-bottom: 10px;
    left: -40%;
    position: relative;

  }

  @media screen and (max-width: 1024px) {
  .create-organization h3 {
    margin-bottom: 10px;
    left: -30%;
    position: relative;

  }

  #organizationName1 {
    margin-bottom: 10px;
    left: -35%;
    position: relative;
  }

  
}
  #organizationName1 {
    margin-bottom: 10px;
    left: -35%;
    position: relative;
  }
  .create-organization form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .create-organization label {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .create-organization input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(53, 58, 94);
    border-color: aliceblue;
  }
  
  .create-organization .btn {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .create-organization .btn:hover {
    background-color: #8d3842;

  }

  